.buss_schema {
    display: flex;
    flex-wrap: wrap;
    justify-content:  space-between;
    width: 100%;

    .comment {
        margin-bottom: 10px;
    }

    .voditel {
        text-align: center;
        padding: 5px 1px;
        background-color: $main_color;
        color: white;
        border: 1px solid $main_color;
        border-radius: $border_rad;
        margin-bottom: 10px;
    }

    .buss_coll {
        max-width: 32%;
        display: flex;
        flex-direction: column;
        flex: 1;
        .mesta {
            display: flex;
            flex-direction: column;
            width:100%;
            .riad {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                margin-bottom: 10px;
                .mesto {
                    background-color: $main_color;
                    color: white;
                    border: 1px solid $main_color;
                    width: 18%;
                    padding: 5px 1px;
                    text-align: center;
                    border-radius: $border_rad;
                    cursor:pointer;

                    &.empty {
                        background-color: white;
                        border: none;
                        padding: 5px 0;
                        &:hover{
                            background-color: white;
                        }
                    }

                    &.selected,
                    &.active,
                    &:hover {
                        background-color:$green_color;
                        border-color: $green_color;
                    }

                    &.reserved{
                        background-color:red;
                        border-color: red;
                    }


                    &.blocked{
                        background-color:darkgrey;
                        border-color: darkgray;
                    }


                    &.to_replace{
                        background-color:orange;
                        border-color: orange;
                    }
                }


            }
        }
    }

    .selected_list {
        flex:1;
        max-width: 29%;
        .napr{
            font-size: 32px;
            line-height: 0.1;
        }
        .selected_element {
            margin-bottom: 10px;
            padding: 5px 20px;
            border-radius: $border_rad;
            background-color: $green_color;
            color: white;
        }
    }
}

@media (max-width:768px) {

    .buss_schema .buss_coll {
        max-width: 50%;
        width:48%;
        flex:unset;
    }

}

@media (max-width:480px) {

    .buss_schema .buss_coll {
        max-width: 100%;
        width:100%;
    }

}
