@media print {
    .cabinet_section .main .page_container {
        width: 100%;
        margin: auto auto;
    }

    .cabinet_section .sidebar {
        display: none;
    }
    .cabinet_section .main {
        height: auto;
    }

    h1 {
        font-size: 1.2rem;
        margin-top: 0;
    }

    .page_reis_info {
        display: flex;
        flex-wrap: wrap;

        p {
            width:30%;
            font-size: 14px;
        }
    }

    .mobile_menu_btn {
        display: none;
    }

    .bus_table td{
        font-size: 16px;
    }
}
