@import "vars";
@import "null";
@import "fonts";
@import "scroll";
@import "text-styles";
@import "form/all-form";
@import "elements/all-elements";

body{
    font-family: $main_fonts;
    font-size: 16px;
}

section{
    width: 100%;
    padding-top: $section_space;
    padding-bottom: $section_space;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1rem;
}

.pt_10{
    margin-top: 20px;
}

a:hover{
    color: $main_color;
}


.container{
    width:100%;
    max-width: $conteiner_max_w;
    margin: 0 auto;
}


.start-form {
    max-width: 420px;
    margin:  0 auto;

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 auto 30px auto;

        h2{
            margin: 0;
        }
        figure{
            margin: 0 auto;
        }
    }

    footer {
        margin: 30px 0 0 0;
        display: flex;
        justify-content: space-between;
    }
}

@import "cabinet-section";
@import "informers";
@import "directions";
