button,
.button {
    background-color: $main_color;
    border: 1px solid $main_color;
    color:white;
    padding: 10px 30px;
    cursor: pointer;
    transition: $main_transition;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;

    &:hover {
        background-color: $hover_color;
        color: white;
    }
}

.b_red{
    background-color: red;
    border-color: red;

    &:hover {
        background-color: orangered;
        border-color: orangered;
    }
}

.b_green{
    background-color: $green_color;
    border-color: $green_color;

    &:hover {
        background-color: green;
        border-color: green;
    }
}
