table {
    width: 100%;
    border-top: 1px solid black;
    border-left: 1px solid black;

    border-spacing: 0;

    th,td {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        padding: 10px 5px;
        text-align: left;
        font-size: 14px;
    }

    th {
        background-color: $main_color;
        color: white;
    }

    tr:nth-child(2n) td {
        background-color: #EBEBEB;
    }
}

.bus_table {
    tr:nth-child(2n) td {
        background-color: white;
    }

    th {
        text-align: center;
    }
}
